
fastapi==0.111.0
uvicorn[standard]==0.30.1

asyncpg==0.29.0

aiofiles==23.2.1
python-multipart>=0.0.7

aiohttp==3.9.5
aiogram==3.10.0

python-dateutil==2.8.2
pytz==2023.3

pydantic==2.7.4

structlog==23.2.0